<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Count Page</h1>
    </header>
    <button id="indexPage">Go to Index</button>
    <h1>Counter: <span id="counter">0</span></h1>
    <button id="up">Up</button>
    <button id="down">Down</button>
</body>
<script src="../scripts/count.js"></script>
<script src="../routes/toIndexPage.js"></script>
</html>