<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="headerDiv">
            <h1 id="mainHeader">E-Commerce Mock Website</h1>
            <input type="text" name="searhBar" id="searchBar">
        </div>
        <nav class="headerNavbar">
            <ul id="navbarHeaderItems">
                <li>Browse</li>
                <li>Cart</li>
                <li>Wish List</li>
                <li>Your Store</li>
                <li>Category</li>
            </ul>
        </nav>
    </header>
    <button id="countPage">Go to Store</button>
</body>
<script src="../routes/toCountPage.js"></script>
</html>