header {
    background-color: blue;
}

h1 {
    padding: 1px;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#searchBarDiv {
    display: flex;
    align-items: center;
    margin: 20px;
}

#searchBar {
    font-size: xx-large; 
    height: 50px;
    width: 1000px;
    margin-right: 25px;
}

#searchButton {
    height: 40px;
}

.add {
    font-size: x-large;
    min-width: 110px;
}

.remove {
    font-size: x-large;
}

#mainHeader {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100px;
    background-color: blue;
}

button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    
}

li {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    font-size: xx-large;
    list-style: none;
}

#navbarHeaderItems {
    display: flex;
    justify-content: flex-start;
    background-color: brown;
}

.mainBodyDiv {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#productTag {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    min-height: 100px;
}

.hidden {
    display: none;
}