body {
    padding: 0px;
    margin: 0px;
    background-color: grey;
}

.productDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-style: solid;
    border-color: black;
    background-color: aqua;
    border-radius: 10px;
    border-width: 10px;
    margin: 10px;
}

.productImage {
    max-width: 400px;
    min-height: 400px;
}
